<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML og JS demo</title>
</head>
<body>
<h1 id="header1">This is your first JS exercise</h1>
<input id="input" type=text">
<br>
<p id="change text"></p>

<button id="minKnap" onclick="btnClick()">Click me</button>

<p id="paragraf">when clicking the "Click me" button you should see this:</p>


<script>
    function btnClick() {
        document.getElementById("change text").innerHTML = "";
        const x = "Change me";
        document.getElementById("input").value = x;
        document.getElementById("minKnap").innerText = "Chance text above and click me again!";

        document.getElementById("minKnap").setAttribute("onClick", "btnClickAgain()");

    }

    function btnClickAgain() {
        var y = document.getElementById("input").value;
        document.getElementById("change text").innerHTML = "Thank you for changing the input to: " + "<strong>" + y + "</strong>";
        document.getElementById("minKnap").setAttribute("onClick", "btnClick()");

    }

</script>
</body>
</html>